@charset "utf-8";

/* common */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;word-wrap:break-word;}
body {line-height:1.5;}
table {width:100%;border-collapse:collapse;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}
i {font-style:normal;}
em {text-decoration:none;}

html {font-size:100.01%;}
body {font-size:75%;color:#333;background:#fff;font-family:Arial, Tahoma, Verdana, sans-serif;text-align:center;}
h1, h2, h3, h4, h5, h6 {color:#333;font-weight:bold;}
h1 {font-size:3em;margin-bottom:.27em;}
h2 {font-size:2em;margin-bottom:.415em;}
h3 {font-size:1.5em;margin-bottom:.553em;}
h4 {font-size:1.17em;margin-bottom:.69em;}
h5 {font-size:1em;margin-bottom:.833em;}
h6 {font-size:1em;margin-bottom:.833em;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 .833em;}
p img.left {float:left;margin:.833em .833em .833em 0;padding:0;}
p img.right {float:right;margin:.833em 0 .833em .833em;}
strong {font-weight:700;}
del {color:#888;}
ul, ol {list-style-type:none;}

fieldset {padding:.833em;margin:0 0 .833em;border:1px solid #ccc;}
legend {font-weight:700;font-size:1.17em;_margin:0px -8px 16px 0;_padding:0;}
input[type=text], input[type=password], textarea, select {background-color:#fff;border:1px solid #bbb;font-size:100%;font-family:arial;}
input[type=text]:focus, input[type=password]:focus, textarea:focus, select:focus {border-color:#7eb1d5;}
input[type=text], input[type=password] {padding-left:5px;}
textarea {padding:5px;overflow:auto;resize:none;}
select {padding:3px;font-size:1em;color:#333;}
select:active {border:1px solid #7eb1d5;}
input[type=checkbox], input[type=radio], input.checkbox, input.radio {position:relative;top:.25em;}
button, input.button, input.checkbox, input.radio {position:relative;*top:0.25em;}
hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:.1em;margin:0 0 .833em;*margin:-5px auto 5px;border:none;}
hr.space {background:#fff;color:#fff;visibility:hidden;}

a:focus, a:hover {text-decoration:underline;}
a {color:#000;text-decoration:none;}
a.nofocus:focus {text-decoration:none;}
a{outline:none;/* for Forefox */ }
a{_star:expression(this.onFocus=this.blur());/* for Ie*/ }

body {_zoom:expression(function(x){document.execCommand('BackgroundImageCache', false, true);x.style.zoom=1;}(this))} /*ie6 缓存图片*/



/*---------- font style ----------*/
.small {font-size:.833em!important;}
.large {font-size:1.17em!important;}
.normal-size {font-size:12px!important;}
.boldface {font-weight:700!important;}
.quiet, a.quiet {color:#888;}
a.quiet:hover {color:#222;}
.quiet333 {color:#333;}
.quiet666 {color:#666;}
.loud {color:#333;}
.special {color:#c65454;}
.highlight, a.highlight {background:#ff0;}
.red, a.red {color:#f00;}
.blue {color:#0066aa}
.green {color:#14830d;}
.orange {color:#e57100;}
.white {color:#fff;}
.dark-color {filter:alpha(opacity=30);-moz-opacity:0.3;opacity:0.3;}
.point,li.point, a.point {color:#A03200;}
.grey, .date {color:#999;}
.normal {font-weight:normal!important;}
.cnfont {font-family:simsun!important;}

.fontgreen, a.fontgreen{color:#006600;}
.fontblue {color:#0066AA;}
.fontbrown {color:#A03200;}
.fontgray {color:#999;}
h5 .fontgray {font-weight:normal;}

/*---------- typography ----------*/
.hide {display:none !important;}
.show {display:block !important;}
.display-block {display:block;}
.display-inline {display:inline;}
.display-inline-block {display:inline-block;}
.float-left {float:left;}
.float-right {float:right;}
.float-none {float:none;}
.clear {clear:both;overflow:hidden;zoom:1;}
.a-left {text-align:left;}
.a-right {text-align:right;}
.a-center {text-align:center;}
.center{text-align:center;margin:auto;}
.middle {vertical-align:middle!important;}
/* margin & padding */
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}
.margin-top05e {margin-top:.417em;}
.margin-top {margin-top:.833em;}
.margin-top15e {margin-top:1.5em;}
.margin-btm05e {margin-bottom:0.417em;}
.margin-bottom {margin-bottom:.833em;}
.margin-btm15e {margin-bottom:1.5em;}
.spe-left {margin-left:.417em;}
.spe-left2 {margin-left:.833em;}
.spe-left3 {margin-left:1.666em;}
.spe-left4 {margin-left:1.25em;}
.spe-right {margin-right:.417em;}
.spe-right2 {margin-right:.833em;}
.spe-right3 {margin-right:1.66em;}
.spe-right4 {margin-right:1.25em;}
.pd-top05e {padding-top:.417em;}
.pd-top {padding-top:.833em;}
.pd-top15e {padding-top:1.5em;}
.pd-btm05e {padding-bottom:.417em;}
.pd-bottom {padding-bottom:.833em;}
.pd-btm15e {padding-bottom:1.5em;}
.spe-left-pd {padding-left:.417em!important;}
.spe-left-pd2 {padding-left:.833em!important;}
.spe-right-pd2 {padding-right:.833em!important;}
.spe-right-pd {padding-right:.417em!important;}

/*---------- border ----------*/
.noborder {border:0!important;}
.border {border:solid 1px #ddd;}
.border-text {border:solid 1px #bbb;}
.border-blue {border:1px #6ea8cd solid;}
.border-top {border-top:solid 1px #ddd!important;}
.border-right {border-right:solid 1px #ddd!important;}
.border-bottom {border-bottom:solid 1px #ddd!important;}
.border-left {border-left:solid 1px #ddd!important;}

/*---------- clear float ----------*/
.clearfix:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, .container {display:block;}
.clearfix, .container {*display:inline-block;}
* html .clearfix, * html .container, * html .vcard, * html .common-block, * html .event-block {height:1%;}

#page { background-color:#FFF;}
#wrapper { margin:0 auto; text-align:center; background-color:#FFF;}
#header { background-color:#000;}
#header .header-inner { width:1000px; margin:0 auto; }
#header .header-top { height:50px; padding:10px;}
#header .header-logo { float:left; width:250px;}
#header .header-content { float:right; width:700px;}
#header .header-user { height:20px; text-align:right;}
#header .header-user span { margin-right:10px; padding-right:10px; color:#FFF;}
#header .header-user a { margin-right:10px; padding-right:10px; color:#999;}
#header .header-user .header-border-right { border-right:1px solid #999;}
#header .header-title { height:30px; color:#FFF; font-size:28px; text-align:left;}
#header .header-menu { height:30px;}
#header .header-menu li { float:left; width:200px; height:30px; text-align:center;}
#header .header-menu li a { display:block; color:#FFF; width:100%; height:20px; padding:5px 0; cursor:pointer;}
#header .header-menu li a:hover { background:#FFF; color:#000; font-weight:bold; text-decoration:none;}
#header .header-menu li dl { position:relative; width:198px; background:#000; border:1px solid #000;}
#header .header-menu li dl dt { position:absolute; height:20px; width:198px; left:-1px; top:-1px; padding:4px 0; border:1px solid #000; background:#000; color:#FFF;}
#header .header-menu li dl dd { height:30px; background:#000; color:#FFF; display:none;}

#main { width:1000px; margin:0 auto; margin-top:20px; margin-bottom:20px;}
#main .main-top { height:20px; background:url("/images/bg_main_top.png") no-repeat;}
#main .container { width:920px; padding:20px 40px; background:url("/images/bg_main_middle.png") repeat-y;}
#main .main-bottom { height:20px; background:url("/images/bg_main_bottom.png") no-repeat;}
                  
