@charset "utf-8";

/* common */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;word-wrap:break-word;}
body {line-height:1.5;}
table {width:100%;border-collapse:collapse;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}
i {font-style:normal;}
em {text-decoration:none;}

html {font-size:100.01%;}
body {font-size:75%;color:#333;background:#fff;font-family:Arial, Tahoma, Verdana, sans-serif;text-align:center;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 .833em;}
p img.left {float:left;margin:.833em .833em .833em 0;padding:0;}
p img.right {float:right;margin:.833em 0 .833em .833em;}
strong {font-weight:700;}
del {color:#888;}
ul, ol {list-style-type:none;}

fieldset {padding:.833em;margin:0 0 .833em;border:1px solid #ccc;}
legend {font-weight:700;font-size:1.17em;_margin:0px -8px 16px 0;_padding:0;}
input[type=text], input[type=password], textarea, select {margin:0;background-color:#fff;border:1px solid #bbb;font-size:100%;font-family:arial;}
input[type=text]:focus, input[type=password]:focus, textarea:focus, select:focus {border-color:#7eb1d5;}
input[type=text], input[type=password] {padding-left:5px;}
textarea[disabled=disabled] {background-color:#EEE;}
textarea {padding:5px;overflow:auto;resize:none;}
select {padding:3px;font-size:1em;color:#333;}
select:active {border:1px solid #7eb1d5;}
input[type=checkbox], input[type=radio], input.checkbox, input.radio {position:relative;top:.25em;}
button, input.button, input.checkbox, input.radio {position:relative;*top:0.25em;}
hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:.1em;margin:0 0 .833em;*margin:-5px auto 5px;border:none;}
hr.space {background:#fff;color:#fff;visibility:hidden;}

a:focus, a:hover {text-decoration:underline;}
a {color:#000;text-decoration:none;}
a.nofocus:focus {text-decoration:none;}
a{outline:none;/* for Forefox */ }
a{_star:expression(this.onFocus=this.blur());/* for Ie*/ }

body {_zoom:expression(function(x){document.execCommand('BackgroundImageCache', false, true);x.style.zoom=1;}(this))} /*ie6 缓存图片*/

.hide {display:none !important;}
.show {display:block !important;}

/*---------- clear float ----------*/
.clearfix:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, .container {display:block;}
.clearfix, .container {*display:inline-block;}
* html .clearfix, * html .container, * html .vcard, * html .common-block, * html .event-block {height:1%;}

#page { background-color:#FFF;}
#wrapper { margin:0 auto; text-align:center; background-color:#FFF;}
#header { background-color:#000;}
#header .header-inner { width:1000px; margin:0 auto; }
#header .header-top { height:50px; padding:10px;}
#header .header-logo { float:left; width:250px;}
#header .header-content { float:right; width:700px;}
#header .header-user { height:20px; text-align:right;}
#header .header-user span { margin-right:10px; padding-right:10px; color:#FFF;}
#header .header-user a { margin-right:10px; padding-right:10px; color:#999;}
#header .header-user .header-border-right { border-right:1px solid #999;}
#header .header-title { height:30px; color:#FFF; font-size:28px; text-align:left;}
#header .header-menu { height:30px;}
#header .header-menu li { float:left; width:200px; height:30px; text-align:center;}
#header .header-menu li a { display:block; color:#FFF; width:100%; height:20px; padding:5px 0; cursor:pointer;}
#header .header-menu li a:hover { background:#FFF; color:#000; font-weight:bold; text-decoration:none;}
#header .header-menu li dl { position:relative; width:198px; background:#000; border:1px solid #000;}
#header .header-menu li dl dt { position:absolute; height:20px; width:198px; left:-1px; top:-1px; padding:4px 0; border:1px solid #000; background:#000; color:#FFF;}
#header .header-menu li dl dd { height:30px; background:#000; color:#FFF; display:none;}

#main { width:1000px; margin:0 auto; margin-top:20px; margin-bottom:20px;}
#main .main-top { height:20px; background:url("/images/bg_main_top.png") no-repeat;}
#main .container { width:920px; padding:20px 40px; background:url("/images/bg_main_middle.png") repeat-y; text-align:left;}
#main .main-bottom { height:20px; background:url("/images/bg_main_bottom.png") no-repeat;}

#main .main-title { margin-bottom:20px; font-size:30px; text-align:center;}
#main .main-content { margin-bottom:20px;}
#main .main-content .content-list { margin-bottom:20px;}
#main .main-content .content-list li { margin:10px 0; font-size:16px;}
#main .main-content .content-list li.margin-bottom { margin-bottom: 40px;}
#main .main-content .content-list li label { display:inline-block; width:300px; margin-right:20px; text-align:right; vertical-align:top;}
#main .main-content .content-list li span { display:inline-block; width:600px;}
#main .main-content .content-list li input[type=text] { width:300px; height:25px;}
#main .main-content .content-list li input[disabled=disabled] { background-color:#EEE;}
#main .main-content .content-list li textarea { width:295px; height:60px;}
#main .main-content .content-list li input[type=button], #main .main-content input[type=submit] { width:300px; height:40px;}
#main .main-content .content-list .checkbox input { vertical-align:top;}
#main .main-content .content-list .checkbox label { text-align:left;}
#main .main-content .content-list .radiobox { width:250px;}
#main .main-content .content-list .radiobox label { width:80px; text-align:left;}
#main .main-content .content-tips { font-size:20px;}
#main .main-content table { margin-bottom:30px; border:1px solid #888888; border-collapse:collapse; table-layout:fixed;}
#main .main-content table th { background-color:#CCCCCC; border:1px solid #888888; padding:5px 15px 5px 5px; text-align:center; vertical-align:middle; font-weight:bold;}
#main .main-content table td { background-color:#EFEFEF; border:1px solid #AAAAAA; padding:5px 15px 5px 5px; text-align:center; vertical-align:middle;}

.ajax-list { position:absolute; background-color:#FFF; border:1px solid #444; text-align:left;}
.ajax-list li { padding: 3px 10px;}
.ajax-list li:hover { background-color:#CCC; font-weight:bold; cursor:pointer;}

